table,th,td{
    border:1px solid black;
border-collapse: collapse;
/* center the table;*/
/* margin:auto;*/
margin: 0 auto;
}

table{
    background-color: aliceblue;
    justify-content: center;
    border-radius: 10px;
    margin-top: 5%
 
}
body{
    background-image:
url(hancock.jpg);
background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
     
}

